<section class="donate_section">
  <div class="flex">
    <p class="section_subheader">לאורך כל הדרך</p>
    <h2 class="section_header">בואו להיות חלק מהמשפחה</h2>

    <img
      class="donate_img"
      src="./images/content_images/mother_cropped.png"
      alt="mother & daughter"
    />
    <div class="text-wrapper">
      <p class="donate_text">
        <bdi> המתנה שלך פירושה שנוכל להביא תקווה לחולי סרטן.</bdi>
        <bdi>
          <br />
          אנחנו נלחמים בסרטן בצורה חכמה, טובה וקשה יותר מאי פעם.</bdi
        >
        <bdi> ביחד תודה על תמיכתך.</bdi>
      </p>
      <div class="btn-wrap">
        <button class="donate_btn">לתרומה</button>
        <button class="donate_btn btn-white">להתנדבות</button>
      </div>
    </div>
  </div>
</section>
